[Unit]
Description=Chuwi MiniBook hinge angle sensor
After=systemd-modules-load.service
Before=display-manager.service

[Service]
ExecStart=/usr/bin/chuwi-hinge-sensor
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
